---
// Código Server Side Only - Momento de construcción Build time
import MainLayout from "../layouts/MainLayout.astro";
import type { PokemonListResponse } from "../interfaces/pokemon-list.response.ts";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = (await resp.json()) as PokemonListResponse;
---

<MainLayout title="Home Page">
  <h1 class="text-3xl">Listado de pokemons</h1>
  <ul>
    {data.results.map((pokemon) => <li>{pokemon.name}</li>)}
  </ul>
</MainLayout>
